*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
}

.products-heading {
    padding: 50px 0 30px;
}

.products-heading h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.products-header p {
    color: #6c757d;
    margin: 0;
}

.product-card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
}

.product-card .card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.product-card .card-title {
    font-size: 22px;
    margin-bottom: 10px;
}

.product-card .card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}

.product-card .btn {
    width: 100%;
    border-radius: 8px;
}



/* PRODUCT DETAILS PAGE */
/* PRODUCT DETAIL PAGE */

.product-detail-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.product-detail-image {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-detail-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-detail-content {
    padding: 30px;
}

.product-detail-content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.product-detail-content h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
}

.product-detail-content p {
    color: #6c757d;
    line-height: 1.8;
    margin-bottom: 30px;
}